:root {
  --primary-color: #cccccc;
  --secondary-color:  #1e847f;
  --secondary-light-color:  rgba(30, 132, 127, .05) ;
  --light-color: #eeeeee;
  --light-dark-color: #474747;
  --dark-color: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}