.cartItem {
  margin-bottom: 1rem;
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
  animation: books-appear 1s ease-out forwards;
}

@keyframes books-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cartItem__image {
  max-height: 200px;
  object-fit: contain;
}

.cartItem__portion {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.portion__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--light-dark-color);
}

.portion__desc {
  font-size: 0.8rem;
  color: var(--light-dark-color);
}

.portion__price {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0.6rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 4rem;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.actions__button {
  width: 100px;
  height: 2.5rem;
  border: 1px solid var(--light-dark-color);
  color: var(--light-dark-color);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  outline: none;
}

.actions__button:hover {
  background-color: rgb(180, 10, 10);
  color: white;
  border: none;
}

.portion__divider {
  margin-bottom: 1rem;
  display: flex;
  width: 730px;
  border-bottom: 1px solid #dddddd !important;

  animation: books-appear 1s ease-out forwards;
}

@keyframes books-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cartItem__content {
  display: flex;
}
.downsize {
  display: none;
}

@media (max-width: 960px) {
}

@media (max-width: 960px) {
}

.portion__price_downsize {
  display: none;
}
@media (max-width: 960px) {
}

@media (max-width: 960px) {
  .portion__price {
    display: none;
  }
  .actions__button {
    height: 2.1rem;
    max-width: 5rem;
  }
  .cartItem__image {
    max-height: 120px;
  }
  .portion__price_downsize {
    display: block;
    color: var(--secondary-color);
    font-weight: bold;
  }
  .downsize {
    display: flex;
  }
  .upsize {
    display: none;
  }
}
